html{
    width: 550px !important;
}

body{
    width: 100% !important;
    padding: 0;
    margin: 0;
    text-align: left;
    justify-content: left;
}

.body_container{
    background-color: #b3d8ff;
    padding: 1%;
}

.unsaved_row {
    box-shadow: rgb(140 77 77) 2px 2px 6px 0px !important;
}

.custom_header_row{
    box-shadow: none;
}

.form-control:focus {
    /* border-color: unset !important; */
    box-shadow: unset !important;
}

.custom_collapsing {
    -webkit-transition: none !important;
    transition: none !important;
    display: none !important;
}


.settings_button_current{
    border-bottom: solid 2px black !important;
}

.settings_collapse{
    border: solid 1px black !important;
    border-radius: 0.2rem;
}

.btn:focus{
    box-shadow: none !important;
}

.settings_list{
    width: max-content;
    max-width: 40%;
}

.no_items{
    text-align: center;
    margin-bottom: 5%;
    display: block;
}

.add-btn{
    width: fit-content;
    margin: 0 auto;
}

.disabled_cursor{
    cursor: not-allowed !important;
}

.proxy_ip{
    width: 14ch !important;
}

.proxy_port{
    width: 6ch !important;
}

#add_new_profile{
    /* margin-bottom: 0 !important; */
    margin: 0 !important;
    width: 55% !important;
}


#file_upload_input{
    width: 55% !important;

}

.profiles_file_upload{
    text-align: right;
    right: 0 !important;
    margin-bottom: 3%;
}

.val_col{
    overflow-wrap: break-word;
    line-break: white-space;
    max-width: 200px;
}

.profiles_select_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

select{
    height: fit-content !important;
    cursor: pointer;
}

select:disabled{
    cursor: not-allowed !important;
}

.profile_preview_table{
    max-height: 270px !important;
    overflow-y: auto;
    margin-bottom: 1% !important;
}

.profile_preview_table td, .profile_preview_table th{
    padding: 0.3rem !important;
}

hr {
    border: none;
    margin-top: 0 !important
}

#top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: x-large;
    font-family: inherit;
    font-weight: bold;
    color: #0062cc;
    text-shadow: 2px 2px #d1d1d9;
    width: fit-content;
    margin-right: 0 !important;
}

.current_profile{
    font-size: small;
    font-family: inherit;
}

.profile_name{
    font-size: large;
    font-family: inherit;
    font-weight: bold;
}


.val_col {
    padding: 0 !important;
}

.profile_ul {
    list-style: none;
    padding-left: 0 !important;
}

.active_proxy {
    background-color: #65a6eb !important;
    color: white !important;
    font-weight: bold;
}

.val_col ul{
    margin-bottom: 0 !important;
}

.col_with_difference{
    color: #FF0000;
}

.ua_col{
    word-break: break-word;
}

.tab_intro {
    border: solid 1px;
    background-color: #b3d8ff;
    border-color: #0062cc;
    padding: 1% 2%;
    border-radius: 5px;
}

.tabe{
    margin-bottom: none !important;
}

#langs_list, #user_agents_list{
    margin-bottom: 2%;
}

.tooltip_text {
    background: #c3c3cc;
    padding: 0% 1.25%;
    border-radius: 25px;
    cursor: help;
    font-size: small;
    border: solid #a89797 1px;
    font-weight: bold;
    white-space: pre-line;
}

.tooltip_text:hover{
    background: #a89797;
    color: white;
}

input[type="checkbox"]{
    cursor: help;
}

.custom_proxy_on_of input[type="checkbox"] {
    accent-color: green !important;
    background-color: green !important;
}