body{
    margin: auto ;
    border: black solid 1px ;
    width: fit-content ;
    padding: 2% ;
    margin-top: 5% ;
    font-family: 'Arial, Helvetica, sans-serif'!important;
}

#header-row{
    padding: 0;
    margin: 0;
}
#header-row:nth-child(2n){
    background-color: beige;
}